<div ng-controller="AppMainController">


    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-md-3">
                    <div class="claim lead">
                        Content
                    </div>
                </div>
                <div class="col-sm-8 col-md-9">
                    <i class="fa fa-5x fa-plus-square-o pull-right"></i>
                </div>
            </div>
            <div class="btn-group btn-group-claim">

                <a href="#/"
                   class="btn btn-claim btn-lg">
                    <i class="fa fa-fighter-jet">
                    </i>
                    Get started!
                </a>
                <a href="demo" class="btn btn-claim btn-lg">
                    <i class="fa fa-eye">
                    </i>
                    Demo
                </a>
            </div>
        </div>
    </div>


    <footer class="footer">
        <div class="container">
            <p>
                @copyright
            </p>
        </div>
    </footer>

</div>

